<html lang="en"><head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta name="description" content="Start your development with Creative Design landing page.">
     <meta name="author" content="Devcrud">
     <title>Loremipsum Fun</title>
 
     <!-- font icons -->
     <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
 
     <!-- Bootstrap + Creative Design main styles -->
    <link rel="stylesheet" href="css/creative-design.css">
 
 </head>
 <body class="dark-theme">
 
    <!-- Page Header -->
    <header class="header header-mini"> 
       <div class="header-title">{{ .SingleTitle }}</div> 
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="index.html">Home</a></li>
             <li class="breadcrumb-item active" aria-current="page">Components</li>
          </ol>
       </nav>
    </header> <!-- End Of Page Header -->
 
    <!-- main content -->
    <div class="container">
        {{ embed }}
    </div>
    <!-- end of main -->
 
    <div class="container">
       <!-- foooter -->
       <footer class="footer">            
           <p>Copyright <script>document.write(new Date().getFullYear())</script>2022 © <a href="http://www.devcrud.com">DevCRUD</a></p>
       </footer><!-- End of Footer-->  
    </div>
    
    <!-- core  -->
    <script src="vendors/jquery/jquery-3.4.1.js"></script>
    <script src="vendors/bootstrap/bootstrap.bundle.js"></script>
 
 
 </body></html>