 
{{range $key, $val := .Loremgens }}
    <iframe src="{{ $val.Link }}" title="description"></iframe>

    <table class="table table-borderless v-align-center">
    <tbody>
        <tr>
            <td>
            <p class="font-weight-bold text-muted">Fun Gen :</p>
            </td>
            <td><p><h5>  {{  $val.Name }} </h5> </p></td>
        </tr>

        <tr>
            <td>
            <p class="font-weight-bold text-muted">BlockQuote :</p>
            </td>
            <td>
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
            </td>
        </tr>
        </tbody>

    </table>

{{end}}
