 
  
      <div class="container">
             
            <div class="about-wrapper">
                <div class="after"><h1> You have successfully joined our site </h1></div>
                <div class="content">
                    <h5 class="title mb-3"> Have Fun! </h5>
                    
                    <div class="row">
                        <div class="col">
                            <p>  </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                        </div>
                    </div>                   
                    <a href="/gens">See Generators</a>
                </div>
            </div>         
        </div>

 

 
 